* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
  width: 100vw;
  height: 100vh;
  border: 5px solid rgb(219, 0, 0);
}

header{
    width: 100%;
    height: 5%;
    border: 5px solid rgb(105, 182, 255);
    background-color: rgba(187, 187, 187, 0.557);
    color: rgb(145, 50, 79);
    display: flex;
    align-items: center;
    justify-content: center;
}

main{
    width: 100%;
    height: 70%;
    border: 4px solid black;
    display: flex;
}

div.presentacion {
    width: 50%;
    height: 100%;
    border: 4px solid rgb(223, 252, 34);
}

div.ofertas {
    width: 25%;
    height: 100%;
    border: 4px solid rgb(80, 90, 14);
}

div.masVistos {
    width: 25%;
    height: 100%;
    border: 4px solid rgb(227, 100, 227);
}

div.divFinal{
    width: 100%;
    height: 25%;
    border: 4px solid rgb(112, 253, 110);
    display: flex;
    justify-content: center;
}

div.contacto {
    width: 80%;
    height: 100%;
    border: 4px solid rgb(5, 5, 5);
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-evenly;
    
}

div.saberMas {
    width: 40%;
    height: 100%;
    border: 4px solid rgb(223, 106, 106);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}