*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.grid {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-areas: "header imagen"
                         "cont1 cont2"
                         "footer";
}

.padre1 {
    height: 80px;
    background-color: red;
    display: grid;
    grid-template-columns: 2fr 1fr; 
    
}

.header {
    background-color:brown;
    text-align: center;
    color: white;
    padding-top: 10px;
}
.imagen {
    background-color: darkred;
    text-align: center;
    color: white;
    padding-top: 10px;
}


.padre2 {
    height: 590px;
    display: grid;
    grid-template-columns: 1fr 2fr; /* Corrección aquí */
}
    .cont1{
        background-color:rgb(253, 124, 3);
        display: grid;
        grid-template-areas: "aside"
                         "vacio"
                         "aside1";
        justify-items: center ;
        align-items: center;
        
    }
        .aside {
            width: 90%;
            height: 70%;
            grid-area: aside;
            background-color: white;
            text-align: center;
            color: rgb(253, 124, 3);
            padding-top: 10px;
        }
        .aside1 {
            width: 90%;
            height: 70%;
            grid-area: aside1;
            background-color: white;
            text-align: center;
            color: rgb(253, 124, 3);
            padding-top: 10px;
        }
    .cont2{
        background-color:orangered;
        display: grid;
        grid-template-areas: "aside3"
                            "aside4";
        justify-items: center ;
        align-items: center;
        
    }
        .aside3 {
            width: 95%;
            height: 95%;
            grid-area: aside3;
            border: 2px solid white;
            text-align: center;
            color: white;
            padding-top: 10px;
        }
        .aside4 {
            width: 95%;
            height: 95%;
            grid-area: aside4;
            border: 2px solid white;
            text-align: center;
            color: white;
            padding-top: 10px;
        }


footer {
    height: 85px;
    background-color:darkred;
    text-align: center;
    color: white;
    padding-top: 10px;
}