* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 180vh;
    background-color: black;
    /* border: 4px solid rgb(255, 48, 48); */
}
header {
    width: 100%;
    height: 5%; 
    background-color: black;
    /* border: 4px solid rgb(254, 254, 12); */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

    img.logo {
        width: 5%;
        height: 100%; 
        border: 4px solid rgb(255, 255, 255);
        border-radius: 50%;
        margin-left: 90px;
    }

    div.btnsHead {
        width: 80%;
        height: 100%; 
        background-color: rgb(255, 255, 255);
        border: 4px solid rgb(0, 0, 0);
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin-right: 30px;
        border-radius: 5%;
    }

        a.btnInicio {
            text-decoration: none;
            color:#12f294;
            transition: ease-in-out 0.3s;
        }
            a.btnInicio:hover {
                color:#000FF0;
                transform: translateY(-5px)
            }

        a.otherBtns {
            text-decoration: none;
            color:#000FF0;
            transition: ease-in-out 1s;
        }
            a.otherBtns:hover {
                color: #12f294;
                transform:rotateX(360deg)
            }
        


main {
    width: 100%;
    height: 80%; 
    /* border: 4px solid rgb(255, 153, 0); */
    display: flex;  
    flex-direction: column;
}
    .section1{
        width: 100%;
        height: 52.5%; 
        /* border: 4px solid rgb(255, 0, 0); */
        display: flex;  
        justify-content: center;
        background-image: linear-gradient(to right, #000ff0 0%, #5c8ff5 50%, #000ff0 100%);
    }

    .imagenPrincipal {
        width: 50%;
        height: 80%; 
        /* border: 4px solid rgb(136, 255, 233);  */
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-family:"Arial", sans-serif;
    }
        .titulo1 {
            width: 100%;
            height: 30%;
            /* border: 2px solid red; */
            display: flex;
            align-items: center;
            justify-content: center;
            color: #12f294;
            font-size: 50px;
            padding-top: 70px;
        }
        .texto1 {
            width: 100%;
            height: 15%;
            /* border: 2px solid rgb(255, 0, 144); */
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 30px;
        }
        .texto1Verde{
            color:#12f294;
            padding-left: 10px;
            
        }
        .texto2 {
            width: 100%;
            height: 15%;
            /* border: 2px solid rgb(43, 255, 0); */
            font-size: 20px;
            display: flex;
            justify-content: center;
        }
        .btnPrincipal {
            padding: 5px;
            border-radius: 10%;
            border: none;
            background-color: #12f294;
            color: #000FF0;
            cursor: pointer;
        }
        .btnPrincipal:hover {
            background-color:#000FF0;
            color: #12f294;
        }

    .section2 {
        width: 100%;
        height: 52.5%; 
        /* border: 4px solid rgb(4, 100, 82); */
        background-color: black;
        display: flex;
        flex-direction: column;  
        align-items: center;
    }
    .titulo2{
        padding: 50px;
        color:#12f294;
    }
    .empresas{
        width: 100%;
        height: 30%;
    }
    .texto3 {
        color: white;
        padding-top: 40px;
        font-size: 20px;
    }
    .texto4 {
        color:#12f294;
        padding-top: 60px;
        font-size: 40px;
    }

footer {
    width: 100%;
    height: 15%; 
    /* border: 4px solid rgb(99, 255, 88); */
    background-image: linear-gradient(to right, #000ff0 0%, #5c8ff5 50%, #000ff0 100%);
    display: flex;
    flex-direction: row ;
    justify-content: space-around;
}
    .btnFot {
    width: 20%;
    height: 100%;
    /* border: 2px solid salmon; */
    }
        .lista{
            list-style: none;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 25px;
            gap: 10px;
        }
            .listaF{
                font-size: 16px;
                text-decoration: none;
                color:#12f294
            }
    .copy {
        width: 40%;
        height: 100%;
        /* border: 2px solid yellow; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        color: white
    }
        img.logoF {
            width: 50px;
            height: 50px;
            border: 4px solid rgb(255, 0, 0);
            border-radius: 50%;
            border-color: rgb(255, 255, 255);
        }
    .logos {
        width: 20%;
        height: 100%;
        /* border: 2px solid red; */
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

