*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.grid {
    height: 100vh;
    display: grid;
    grid-template-columns: 2fr 1fr 2fr 2fr 1fr 2fr;
    grid-template-rows: 2fr 1fr;
}
.hijo1{
    text-align: center;
    color: black;
    background-color: greenyellow;
}
.hijo2{
    text-align: center;
    color: white;
    background-color: black;
}
.hijo3{
    text-align: center;
    color: black;
    background-color: greenyellow;
}
.hijo4{
    text-align: center;
    color: white;
    background-color: black;
}
.hijo5{
    text-align: center;
    color: black;
    background-color: greenyellow;
}
.hijo6{
    text-align: center;
    color: white;
    background-color: black;
}