* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

li{
  list-style: none;
}

body{
    width: 100vw;
    height: 100vh;
}
    /* Estilo Cabezera */
    .cabezera {
        width: 100%;
        height: 10%;
        display: flex;
        /* position: fixed; */
        align-items: center;
        background-color: black;
    }
        .logo {
            width: 15%;
            height: 80%;
            font-size: 45px;
            text-align: center;
            color: red;  
        }
        a{
            text-decoration: none;
            color: white;
        }
        .btns{
            width: 85%;
            height: 90%;
            display: flex;
            align-items: center;
            justify-content: space-around;
            border: 2px solid red;
        }

/* Estilo Centro */

main {
    width: 100%;
    height: auto;
    background: linear-gradient(black, red);

}
    .central {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        padding-top: 50px;
    }
    .tituloPeli {
        position: absolute;
        font-size: 50px;
        margin-top: -40px;
        color: white;
        text-shadow: 2px 2px 5px red;  
    }

    .peliculas{
      width: 100%;
      height: auto;
      /* border: 2px solid red; */
      justify-content: center;
      flex-wrap: wrap;
      /* display: none; */

    }
    .galeria {
        margin: 50px;
        /* border: 1px solid red; */
        float: left;
        width: 15%;
        height: 60%;
      }
        .galeria img {
        width: 100%;
        height: 50%;
        padding: 10px;
        border: 1px solid white; 
        border-radius: 10px;
      }
        div.desc {
        height: auto;
        padding: 10px;
        border: 1px solid white;
        color: white;
        text-align: left;
        font-weight: bold;
        border-radius: 10px;
      }
      .formulario {
        width: 35%;
        border: 2px solid white;
        border-radius: 20px;
        padding: 10px;
        margin-bottom: 10px;
        background-color: black; 
      }
      
      form{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 5px;
        
      }
      .tituloForm {
        text-align: center;
        color: white;
        padding-bottom: 10px;
    }
      ::placeholder{
        
        background-color: white;
        color: red;
      }
      input{
        padding: 10px;
        color: red;
      }
      .incluir {
        display: block;
        margin: 10px auto;
        color: white;
        background-color: black;
        border: none;
        transition: all ease-in-out 0.5s;
        }
            .incluir:hover{
                background-color: red;
                padding: 10px;
                border-radius: 10px;
                cursor: pointer;
            }

      /* Profesionales */
.profesionales {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 50px;
    flex-wrap: wrap;
    display: none;
    background: linear-gradient(red, black);

}
    .titulo2 {
        position: absolute;
        font-size: 50px;
        margin-top: -40px;
        color: rgb(255, 255, 255);
        text-shadow: 2px 2px 5px red;  
    }
    .galeria1 {
        margin: 50px;
        /* border: 1px solid red; */
        float: left;
        width: 15%;
        height: 60%;
      }
        .galeria1 img {
        width: 100%;
        height: 50%;
        padding: 10px;
        border: 1px solid white; 
        border-radius: 10px;
      }
/* Estilo Footer */

footer {
    width: 100%;
    height: 10%;
    background-color: black;
    color: red; 
    text-align: center;
    padding-top: 10px;
    font-size: 40px;
    border-top: 2px solid red;
    font-weight: bold;

}
@media only screen and (max-width: 900px) {
  .galeria {
    width: 50%;
    float: none;
  }

  .btns{
    border: none;
    display: flex;
    flex-direction: column;
  }

  .logo {padding-left: 10px;}

  .formulario{
    width: 50%;
    float: none;
  }

  .galeria1 {
    width: 50%;
    float: none;
  }
}


